.row-one {
  background-color: turquoise;
}

.logo {
  height: 100px;
  /* margin: 12px; */
  background-color: aqua;
}

.big-box {
  width: 100%;
  height: 300px;
  background-color: aqua;
}

.skinny-row {
  height: 100px;
  background-color: turquoise;
}

.six {
  height: 100px;
  background-color: aqua;
}

.three {
  height: 100px;
  margin: 0px;
  background-color: turquoise;
}

.threee {
  height: 100px;
  margin: 0px;
  background-color: navy;
}
